<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">My Invoice Generator</a>        
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right"> 
                    <li><a href="/site_details">Site Details</a></li>
                    <li><a href="/shift_details">Shift Details</a></li>
                    <li><a href="/income_details">Income Details</a></li>
                    <li><a href="/work_details">Employee Work Details</a></li>
                    <li><a href="/logOut">Log out</a></li>
            </ul>
        </div>
    </div>    
</nav>