<nav>
    <ul>
        <li><a href="/site_details">Site Details</a></li>
        <li><a href="/shift_details">Shift Details</a></li>
        <li><a href="/income_details">Income Details</a></li>
        <li><a href="/work_details">Employee Work Details</a></li>
        <li><a href="/logOut">Log out</a></li>
    </ul>    
</nav>