<nav>
    <ul>
        <li><a href="/LogIn">Log In</a></li>
        <li><a href="/user_registration">User Register</a></li>
        <li><a href="/site_details">Site Details</a></li>
        <li><a href="/shift_details">Shift Details</a></li>
        <li><a href="/income_details">Income Details</a></li>
        <li><a href="/work_details">Employee Work Details</a></li>
    </ul>
</nav>