<html>
    <head>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Income Details</h1>
        <h2>Please enter Income details...</h2>
        <form>
           
        </form>
    </body>
</html>