<html>
    <head>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <form>
            <div class="container">                    
                <% results.forEach(function( eachResult){ %>
                    <div class="jumbotron">
                        <h3>Site : <%= eachResult.S_name %></h3>
                        <h4>Employer : <%= eachResult.FK_E_Name %></h4>
                        <form class="form-inline">
                            <label for="date">Date from : </label>
                            <input type="date" class="form-control">
                            <button type="submit" class="btn btn-primary">Generate Invoice</button>
                        </form> 
                    </div>
                <% }) %>                        
            </div>
        </form>
    </body>
</html>