<html>
    <head>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <form>
            <div class="container">      
                    <ul>
                            <% results.forEach(function( eachResult){ %>
                                <li> <%= eachResult.E_name %>  <%= eachResult.E_email %> </li>
                            <% }) %>
                         
                            </ul>              
                <div class="jumbotron">
                    <h3><%%></h3>
                    <h4><%%></h4>
                    <form class="form-inline">
                        <label for="date">Date from : </label>
                        <input type="date" class="form-control">
                        <button type="submit" class="btn btn-primary">Generate Invoice</button>
                    </form> 
                </div>
            </div>
        </form>
    </body>
</html>