<html>
    <head>
        <% include partials/public_nav.ejs %>   
        <title>Log in</title>               
    </head>
    
    <body>
        <div class="container">
            <form id="login">
                <br>    
                <div class="row">
                    <div class="col-md-2 col-md-offset-5">
                        <div class="container">
                            <label for="email">Email address:</label><br>
                            <input class="col-lg-6" id="email" type="email" name="user_name"><br>
                            <br>
                            <label for="pwd">Password:</label><br>
                            <input class="col-lg-6" type="password" name="password" class="form-control" id="pwd"><br>
                            <br>
                            <button type="submit" class="btn btn-primary" formaction="/LogIn" formmethod="POST">Log in</button>
                            <br><br>
                            <a href="">Forgot password?</a>
                            <br><br>
                            <button type="submit" class="btn btn-primary" formaction="/user_registration" formmethod="GET">Sign up</button>
                        </div> 
                    </div>
                </div>                                           
            </form>
        </div>
    </body>

</html>