<html>
    <head>
        <% include partials/public_nav.ejs %>   
        <title>Log in</title>               
    </head>
    
    <body>
        <div class="container">
            <form id="login">
                <br>                                       
                    <div class="form-group col-xs-3 col-lg-offset-4">
                        <label for="email">Email address:</label>
                        <input class="form-control" id="email" type="email" name="user_name">
                        <br>
                        <label for="pwd">Password:</label>
                        <input type="password" name="password" class="form-control" id="pwd">
                        <br>
                        <button type="submit" class="btn btn-primary" formaction="/LogIn" formmethod="POST">Log in</button>
                        <br><br>
                        <a href="">Forgot password?</a>
                        <br><br>
                        <button type="submit" class="btn btn-primary" formaction="/user_registration" formmethod="GET">Sign up</button>
                    </div>                                            
            </form>
        </div>
    </body>

</html>