<html>
    <head>
        <% include partials/public_nav.ejs %>                
    </head>
    
    <body>
        <div class="container">
            <form id="login" method="POST" action="/LogIn">
                <br>                                       
                    <div class="form-group col-xs-4 col-lg-offset-4">
                        <label for="email">Email address:</label>
                        <input class="form-control" id="email" type="email" name="user_name">
                        <br>
                        <label for="pwd">Password:</label>
                        <input type="password" name="password" class="form-control" id="pwd">
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <br>
                    </div>                                            
            </form>
        </div>
    </body>

</html>