<html>
    <head>
        <% include partials/nav.ejs %>      
        <script src="/script.js"></script>  
        <title>Overtime</title>
    </head>
    <body>
        <form id = "overtime" method="POST" action="/overtime">
            <div class="container">
                <div class="row">
                    <div class='col-lg-6'>
                        <div class="input-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" name="workedDate" id="workedDate">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <label for="exceptionType">Site Name</label>
                            <select class="form-control"name="siteName"id="siteName">
                                <option value="select">Select...</option>
                                <% siteResults.forEach(function( eachResult){ %>
                                <option value=<%= eachResult.S_name %>> <%= eachResult.S_name %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                </div>
                <br>            
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <label for="hoursWorked">Hours Worked</label>
                            <input type="text" class="form-control" name="txthoursWorked" id="txthoursWorked" value="03:00">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <label for="description">description</label>
                            <input type="text" class="form-control" name="txtDescription" id="txtDescription" value="Holiday">
                        </div>
                    </div>
                </div>
                <br>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </body>