<html>
    <head>
    </head>
    <body>
        <% include partials/nav.ejs %>
        
        <h1>Site Details</h1>
        <h2>Please enter Site details...</h2>
        <form id="site_details" method="POST" action="/site_details">           
            Employer name : <br>
            <input type="text" name="eName"><br><br>
            Employer E-Mail : <br>
            <input type="text" name="eMail"><br><br>
            Site Name : <input type="text" name="sName">
            Address : <input type="text" name="sAddress"><input type="button" value="add"><br>
            <table>
                <tr>
                    <th>Site Name</th>
                    <th>Address</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table><br><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>