<html>
    <head><% include partials/nav.ejs %></head>
    <h1>Employees Work Sheet</h1>
    <form id=""method="POST" action="/work_details">
        Employer's Name : <input type="text" id="eName"><br>
        E-Mail : <input type="email" id="eMail"><br>
        Invoices Occurence : 
            <select id="i_occurence">
                <option value="Weekly">Weekly</option>
                <option value="1st week">Fortnightly</option>
                <option value="2nd week">Fortnightly</option>
            </select>
            <select id="i_day">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
            <input type="time" id="i_time">
            <br>
        Site name : <input type="text" id="sName">
        Site address : <input type="text" id="sAddress"><br>
        Casual pay rate : $<input type="number" id="payRate">
        Holiday Pay rate : $<input type="number" id="h_pay"><br>
        Holiday hours working : <input type="time" id="holidayHours">
        <h3>Work Schedule</h3>

        <table>
            <tr>
                <th>####</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>        
            </tr>
            <tr>
                <th>Start time :</th>
                <td><input type="time" id="m_st"></td>
                <td><input type="time" id="tu_st"></td>
                <td><input type="time" id="w_st"></td>
                <td><input type="time" id="th_st"></td>
                <td><input type="time" id="f_st"></td>
            </tr>
            <tr>
                <th>End time :</th>
                <td><input type="time" id="m_et"></td>
                <td><input type="time" id="tu_et"></td>
                <td><input type="time" id="w_et"></td>
                <td><input type="time" id="th_et"></td>
                <td><input type="time" id="f_et"></td>
            </tr>
            <tr>
                <th>Time worked :</th>
                <td><input type="time" id="m_tw"></td>
                <td><input type="time" id="tu_tw"></td>
                <td><input type="time" id="w_tw"></td>
                <td><input type="time" id="th_tw"></td>
                <td><input type="time" id="f_tw"></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Submit">
    </form>
</html>