<html>
    <head><% include partials/nav.ejs %>
    </head>
    <h1>Employees Work Sheet</h1>
    <form id=""method="POST" action="/work_details">
        Employer's Name : <input type="text" name="eName"><br>
        E-Mail : <input type="email" name="eMail"><br>
        Invoices Occurence : 
            <select name="i_occurence">
                <option value="Weekly">Weekly</option>
                <option value="1st week">1st week</option>
                <option value="2nd week">2nd week</option>
            </select>
            <select name="i_day">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
            <input type="time" name="i_time" step="2">
            <br>
        Site name : <input type="text" name="sName">
        Site address : <input type="text" name="sAddress"><br>
        Casual pay rate : $<input type="number" name="payRate">
        Holiday Pay rate : $<input type="number" name="h_pay"><br>
        Holiday hours working : <input type="time" name="holidayHours">
        <h3>Work Schedule</h3>

        <table>
            <tr>
                <th>####</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>        
            </tr>
            <tr>
                <th>Start time :</th>
                <td><input type="time" name="m_st"></td>
                <td><input type="time" name="tu_st"></td>
                <td><input type="time" name="w_st"></td>
                <td><input type="time" name="th_st"></td>
                <td><input type="time" name="f_st"></td>
            </tr>
            <tr>
                <th>End time :</th>
                <td><input type="time" name="m_et"></td>
                <td><input type="time" name="tu_et"></td>
                <td><input type="time" name="w_et"></td>
                <td><input type="time" name="th_et"></td>
                <td><input type="time" name="f_et"></td>
            </tr>
            <tr>
                <th>Time worked :</th>
                <td><input type="time" name="m_tw"></td>
                <td><input type="time" name="tu_tw"></td>
                <td><input type="time" name="w_tw"></td>
                <td><input type="time" name="th_tw"></td>
                <td><input type="time" name="f_tw"></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Submit">
    </form>
</html>